/* Общие стили для всего контейнера */
.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
}

.header {
  background-color: #d0d9f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
}

.nav button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.breadcrumb {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  margin: 20px 30px;
  color: #333;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.student-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.info-block {
  background-color: #d0d9f1;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-block h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-block p {
  font-size: 16px;
  margin: 5px 0;
  font-weight: bold;
}

/* Стили для блока с дисциплинами */
.disciplines {
  background-color: #edf4da;
  padding: 20px;
  border-radius: 10px;
  width: 65%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.disciplines h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.discipline-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  gap: 10px
}

.discipline-item span {
  flex: 1;
}

.discipline-item .progress {
  text-align: center;
  background-color: #b0b0b0; 
  padding: 3px 8px; 
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #fff; 
  min-width: 40px;
  max-width: 40px; 
  margin-left: 30px;
}

.discipline-item .progress-completed {
  text-align: center;
  background-color: #21B200;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-width: 40px;
  max-width: 40px;
}

.discipline-item button{
  color: white;
  width: 161px;
}

/* Стили для кнопок */
button {
  background-color: #d0e1f9; /* Голубой цвет кнопки */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b0c9f7; /* Голубой цвет при наведении */
}


/* Текст внизу */
.footer {
  background-color: #d0d9f1;
  text-align: right; /* Выравнивание текста по правому краю */
  padding: 15px;
  margin-top: auto;
  margin-left: 17px;
  font-size: 16px;
  position: relative;
  font-weight: lighter;
  font-family: f;
}

.footer::after {
  content: '';
  display: block;
  width: 250px;
  height: 2px;
  background-color: #000; /* Цвет линии */
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(1250px, 0);
}

